body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    color: #22343d;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

*{
    box-sizing: border-box;
}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    border: none;
    font-family: inherit;
}

.header {
}

.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    gap: 237px;
    margin-right: auto;
}

.logo-header {
    font-weight: 700;
    font-size: 30px;
    display: flex;
    gap: 16px;
    align-items: center;
    /* line-height: 28px; */
    line-height: 0.93333;
    color: #173a56;
}

.nav-list {
    display: flex;
    gap: 30px;
}
.nav-list-item {
}
.nav-list-link {
    font-weight: 400;
font-size: 16px;
line-height: 1.75;
color: #22343d;
display: block;
padding: 26px 0;
}
.active {
    font-weight: 600;
}
.header-list-btn {
    display: flex;
    gap: 21px;
}
.header-list-btn-item {
}
.header-btn {
    font-weight: 600;
font-size: 16px;
border-radius: 4px;
}
.sign-in {
    width: 105px;
height: 42px;
text-align: center;
color: #173a56;
border: 1px solid #bcd0e5;
background-color: #fff;
}
.sign-up {
    width: 113px;
height: 42px;
    color: #fff;
    background-color: #02897a;
}

.hero {
}

.hero-container {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.text-wrap {
    max-width: 465px;
}

.hero-title {
    font-weight: 700;
font-size: 40px;
line-height: 1.5;
color: #22343d;
}
.hero-text {
    font-weight: 400;
font-size: 18px;
line-height: 1.56;
color: #22343d;
}
.hero-btn-list {
    display: flex;
    gap: 30px;
    align-items: center;
}
.hero-btn-list-item {
}
.hero-btn-get {
    border-radius: 4px;
    width: 178px;
height: 53px;
background-color: #02897a;
ont-weight: 700;
font-size: 16px;
color: #fff;
}
.hero-btn-watch {
    width: 164px;
height: 23px;
font-weight: 600;
font-size: 16px;
text-decoration: underline;
text-decoration-skip-ink: none;
color: #02897a;
}

.specifically {
}
.specifically-container {
    margin-top: 100px;
}
.specifically-title {
    font-weight: 700;
font-size: 32px;
text-align: center;
line-height: 1.5;
max-width: 520px;
margin: 0 auto;
margin-bottom: 50px;
}
.specifically-list {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
}

.specifically-list-item {
}

.specifically-subtitle {
    font-weight: 600;
font-size: 22px;
}

.specifically-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.625;
}

.specifically-btn {
border-radius: 4px;
width: 175px;
height: 53px;
background-color: #02897a;
margin: 0 auto;
display: block;
align-self: center;
}

.management {
}

.management-container {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.management-text-wrap {
    max-width: 486px;
    margin-right: 84px;
}
.management-p-title {
    font-weight: 600;
font-size: 16px;
}
.management-title {
    font-weight: 700;
font-size: 32px;
}

.management-text{
    font-weight: 400;
font-size: 16px;
line-height: 1.625;
}

.mamagement-list {
}
.management-list-item {
}

.list-item-title {
    font-weight: 600;
font-size: 16px;
line-height: 1.625;
}

.list-item-text {
font-weight: 400;
font-size: 16px;
line-height: 1.625;
}

.management-img {
}

.support {
}

.support-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.support-img {
}

.support-text-wrap {
    max-width: 450px;
    margin-left: 84px;
}

.support-p-title {
    font-weight: 600;
font-size: 16px;
margin-bottom: 8px;
}

.support-title {
    font-weight: 700;
font-size: 32px;
margin-bottom: 25px;
}

.support-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.625;
margin-bottom: 30px;
}

.support-list {
}

.support-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.support-list-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.625;
}

.optimisation {
}

.optimisation-container {
    display: flex;
    align-items: center;
    margin-top: 100px;
}

.optimisation-text-wrap {
    margin-right: 84px;
}

.optimisation-p-title {
    font-weight: 600;
font-size: 16px;
margin-bottom: 8px;
}

.optimisation-title {
    font-weight: 700;
font-size: 32px;
margin-bottom: 25px;
}

.optimisation-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.625;
margin-bottom: 30px;
}

.optimisation-list {
}

.optimisation-list-item:not(:last-child) {
    margin-bottom: 25px;
}

.optimisation-list-item-title {
    font-weight: 600;
font-size: 16px;
line-height: 1.625;
}

.optimisation-list-item-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.625;
}

.optimisation-img {
}

.process {
}

.process-container {
    margin-top: 150px;
}
.process-title {
    font-weight: 700;
    font-size: 32px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}
.process-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    color: #22343d;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 542px;
}

.process-list {
    display: flex;
flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px 100px;
    margin-bottom: 50px;

}
.process-list-item {
    display: flex;
    align-items: center;
    gap: 19px;
    width: calc((100% - 100px) / 2);
}
.process-img {
}
.process-img-text {
}
.process-btn-contact {
    width: 216px;
height: 53px;
border-radius: 4px;
background-color: #02897a;
padding: 14px 30px;
font-weight: 700;
font-size: 16px;
color: #fff;
margin: 0 auto;
display: block;
align-self: center;
}

.strategies {
}
.strategies-container {
    margin-top: 100px;
}

.strategies-title {
    font-weight: 700;
font-size: 34px;
margin-bottom: 10px;
}
.strategies-text {
    font-weight: 500;
font-size: 16px;
line-height: 1.625;
margin-bottom: 40px;
max-width: 465px;
}

.strategies-list {
    display: flex;
  flex-wrap: wrap;           
  gap: 30px;                 
  justify-content: center;   
  list-style: none;
  margin: 0;
  padding: 0;
}
.strategies-list-item {
     width: calc((100% - 72px) / 3);
  background-color: #fff;
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strategies-img {
    border-radius: 8px 8px 0 0;
}
.strategies-item-wrap {
background-color: #fff;
border: 1px solid #dedede;
border-radius: 0 0 8px 8px;

}
.strategies-item-text {
    font-weight: 400;
font-size: 16px;
line-height: 1.75;
padding: 24px 24px 0 24px;
}
.author {
    font-weight: 700;
    font-size: 16px;
line-height: 1.75;
}
.strategies-item-title {
    font-weight: 700;
font-size: 24px;
line-height: 1.7;
padding: 0 27px 40px;
}

.prices {
    padding: 21px 0 50px;
}

.prices-container {
}
.prices-title {
    font-weight: 700;
    font-size: 34px;
    color: #22343d;
    text-align: center;
    margin-bottom: 10px;
}
.prices-text {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #22343d;
    text-align: center;
    margin-bottom: 40px;
}
.prices-list {
    display: flex;
    gap: 72px;
}
.prices-item {
    border-radius: 8px;
    width: 322px;
    height: 456px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    width: calc((100% - 72px * 2)/3);
    padding: 32px 71px;
}

.prices-item:nth-child(2) {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background: #02897a;
}

.prices-item-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #22343d;
    line-height: 1.7; 
}
.prices-item-text {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #22343d;
    line-height: 2.5;
    color: #22343d;
}
.prices-item-wrap {
}
.prices-number {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 76px;
    color: #02897a;
    line-height: 1.3;
    letter-spacing: 0em;
    text-align: center;
}
.prices-number-wrap {
    display: flex;
}
.prices-sign {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #02897a;
    line-height: 1.25;
    letter-spacing: 0em;
}
.prices-period {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #22343d;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #e0e0e0;
}
.prices-item-adv {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.01em;
}
.item-operators,
.item-notify,
.item-landing {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.375;
    letter-spacing: 0.01em;
    color: #22343d;
}
.prices-btn {
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background: #02897a;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
}

.prices-btn:hover,
.prices-btn:focus {
    color: #02897a;
    background: #fff;
    border: 2px dashed #02897a;
}

.standard {
    color: #fff;
}
.standard-btn {
     color: #02897a;
    background: #fff;
}
.reviews {
}
.reviews-container {
}
.reviews-title {
}
.reviews-text {
}
.reviews-list {
}
.reviews-list-item {
}
.reviews-item-text {
}
.reviews-img {
}
.reviews-item-name {
}
.reviews-item-profession {
}


/*resources page*/

.header-svg {
    fill: #02897a;
    border-radius: 100px;
background-color: #f3f3f3;
border-width: 32px;
margin-left: 24px;
}

.business {
}
.business-container {
    margin-top: 76px;
    display: flex;
}

.business-title {
    font-weight: 600;
font-size: 40px;
line-height: 1.49;
letter-spacing: -0.03em;
max-width: 380px;
}
.business-text {
    font-weight: 400;
font-size: 20px;
line-height: 1.6;
letter-spacing: -0.03em;
max-width: 535px;
margin-bottom: 24px;
}
.input-label {
}
.join-input-wrapper {
    position: relative;
    width: 469px;
    margin-bottom: 24px;
}
.join-input-field {
    border: 1px solid #eaeaea;
border-radius: 100px;
width: 100%;
height: 66px;
padding: 25px 134px 25px 27px;
font-size: 16px;
box-sizing: border-box;

}
.submit-button-join {
    position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  border-radius: 100px;
  padding: 0 24px;
  width: 117px;
  height: 50px;
  background-color: #02897a;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  border: none;
}
.clients-group {
    display: flex;
    align-items: center;
}
.clients-list {
    display: flex;
    padding: 0;
  margin: 0;
}
.clients-list-item {
    position: relative;
}

.clients-list-item:not(:first-child) {
  margin-left: -15%;
}

.clients-list-item:nth-child(1) {
  z-index: 1;
}
.clients-list-item:nth-child(2) {
  z-index: 2;
}
.clients-list-item:nth-child(3) {
  z-index: 3;
}

.clients-list-item img {
  display: block;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}
.clients-list-text {
    font-weight: 400;
font-size: 14px;
margin-left: 9px;
}
.clients-span {
    font-weight: 500;
color: #02897a;
}

.info-container {
    width: 666px;
}

.business-img-wrapper {
    position: relative;
  width: 541px;
  height: 484px;
  margin-left: -85px;
}

.business-img {
  display: block;
  position: absolute;
}

.img-1 {
  left: 0;
  top: 0;
  z-index: 1;
  border-radius: 32px;
}

.img-2 {
  left: 180px;
  top: 215px;
  z-index: 2;
  border-radius: 16px;
}

.contact-us {
    margin-top: 100px;
}
.contact-us-container {
    width: 871px;
    padding: 0 20px;
    margin: 0 auto;
}
.contact-us-title {
    font-weight: 700;
font-size: 34px;
line-height: 1.67647;
letter-spacing: 0.01em;
text-align: center;
}
.contact-us-text {
    font-weight: 500;
font-size: 18px;
line-height: 1.56;
letter-spacing: 0.01em;
text-align: center;
max-width: 332px;
margin: 0 auto;
margin-bottom: 55px;
}
.contact-social-link {
}

.conttact-map {
    margin-bottom: 50px;
}

.form-container {
    border: 1px solid #ddd;
border-radius: 20px;
padding: 52px 50px;
width: 868px;
height: 670px;
background-color: #fff;
}
.form-title {
    font-weight: 700;
font-size: 24px;
line-height: 1.375;
letter-spacing: 0em;
text-align: center;
}
.contacts-form {
    display: flex;
    flex-direction: column;
    gap: 45px;
}
.input-wrap {
}
.form-label {
}
.input-field {
    border: 1px solid #e8e8e8;
border-radius: 39px;
padding: 19px 20px;
width: 768px;
height: 54px;
background-color: #f5f5f5;
}
.comment-area {
    border: 1px solid #e8e8e8;
padding: 23px 20px;
width: 768px;
height: 193px;
background-color: #f5f5f5;
}
.send-button {
    border-radius: 35px;
padding: 18px 38px;
width: 145px;
height: 52px;
background-color: #02897a;
font-weight: 500;
font-size: 16px;
line-height: 1;
letter-spacing: 0.01em;
color: #fff;
display: block;
}